<div class="container">
    <form [formGroup] = "frmval"> 
     <div class="form-group">
       <label>
         CREDIT CARD NUMBER
       </label>
       <div>
         <input type="text"  class="form-control" formControlName="creditCardNumber" [ngClass]= "{'is-invalid':submited && frmval.controls.creditCardNumber.errors}" #creditCardNumber>
        
         <div *ngIf = "frmval.controls.creditCardNumber.errors" class="invalid-feedback">
           <div *ngIf="frmval.controls.creditCardNumber.errors.required">
                Credit card number is required
           </div>
   
         </div>
       </div>
   
     </div>
     <div class="form-group">
        <label>
          CARD HOLDER
        </label>
        <div>
          <input type="text"  class="form-control" formControlName="cardHolder" [ngClass]= "{'is-invalid':submited && frmval.controls.cardHolder.errors}" #cardHolder>
         
          <div *ngIf = "frmval.controls.cardHolder.errors" class="invalid-feedback">
            <div *ngIf="frmval.controls.cardHolder.errors.required">
                Card holder is required
            </div>
    
          </div>
        </div>
    
     </div>
     <div class="form-group">
        <label>
          EXPIRATON DATE
        </label>
        <div>
          <input type="date"  class="form-control" formControlName="expirationDate" [ngClass]= "{'is-invalid':(submited && frmval.controls?.expirationDate?.errors) || expError}" #expirationDate>
         
          <div *ngIf = "frmval.controls.expirationDate.errors || expError" class="invalid-feedback">
            <div *ngIf="frmval.controls.expirationDate?.errors?.required">
                Expiration date is required
            </div>
            <div *ngIf="!frmval.controls.expirationDate?.errors?.required && expError">
                Expiration date must be greater then today
            </div>
          </div>
        </div>
    
     </div>
     <div class="form-group">
        <label>
         SECURITY CODE
        </label>
        <div>
          <input type="text"  class="form-control" minlength="3" maxlength="3" formControlName="securityCode" [ngClass]= "{'is-invalid':submited && frmval.controls.securityCode.errors}" #securityCode>
         
          <div *ngIf = "frmval.controls.securityCode.errors" class="invalid-feedback">
            <div *ngIf="frmval.controls.securityCode.errors.required">
                Security code is required
            </div>
    
          </div>
        </div>
    
     </div>
     <div class="form-group">
        <label>
         AMOUNT
        </label>
        <div>
          <input type="number"   class="form-control" formControlName="amount" [ngClass]= "{'is-invalid':(submited && frmval.controls?.amount?.errors) || positiveamount}" #amount>
         
          <div *ngIf = "frmval.controls.amount.errors || positiveamount" class="invalid-feedback">
            <div *ngIf="frmval.controls.amount?.errors?.required">
                Amount is required
            </div>
            <div *ngIf="!frmval.controls.amount?.errors?.required && positiveamount">
                Amount must be greater then 0
            </div>
    
          </div>
        </div>
    
     </div>
     <div class="from-group"> 
        <label>
          <button (click)="addCardPayment(creditCardNumber.value, cardHolder.value, expirationDate.value, securityCode.value, amount.value)"  class="btn btn-primary">Submit</button>
          
        </label>
    </div>
   
  
   </form>
     
</div>